body{
  font-family: sans-serif;
  font-size: 14px
}
img{
  width: 100px;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(1, 90%, 40%);
  padding: 20px;
}
#title{
  display: flex;
  font-size: 30px;
  color: white;
  text-align: left;
}
#login{
  display: flex;
  color: white;
  text-decoration: none;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: hsl(360, 0%, 20%);
  padding: 10px;
}
nav a{
  padding: 0px 10px;
  color: white;
}
.main{
  display: flex;
  flex-direction: row;
}
.col1{
  display: flex;
  width: 67%;
  flex-direction: column;
  padding: 20px;
}
.col1 img {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.col1 article{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.col1 h2{
  display: flex;
  font-size: 20px;
  padding: 0px 0px 10px 0px;
  font-style: normal;
  font-weight: bold;
}
.col1 p{
  font-style: normal;
  font-size: 12px;
  text-align: justify;
}
.col2{
  display: flex;
  margin: 20px;
  flex-direction: column;
  justify-content:space-between;
  align-items: flex-end;
  width: 33%;
  font-weight: bold;

}

.col2 div{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 10px 0px;
}
.col2 img{
  width: 100%;
  overflow-y: auto;
}

footer{
  background-color: hsl(360, 0%, 20%);
  padding: 20px;
  color: white;
  font-size: 12px;
}
